*{margin:0; padding:0}
a,u,ins{text-decoration: none;}
li{list-style: none;}
img{
	vertical-align: middle; border: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 16px;
	font-weight: normal;
}
b,strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
body{
	height: 100%;
}
.box{
	margin: auto;
	height: 300px;
	width: 500px;
	background-color: #ffFFFF;
	margin-top: 182px;
}
.box p:nth-child(1){
	text-align: center;
	color: #542374;
}
.box p:nth-child(1)>img{
	height: 25px;
	width: 80x;
	margin-left: 10px;
}
.box p:nth-child(2){
	text-align: center;
}
.box p:nth-child(2)>input{
	height: 45px;
	width: 360px;
	border: 1px solid #bbbbbb;
	margin-top: 25px;
}
.ospan{
	position: absolute;
	margin-left: 25px;
	margin-top: 35px;
	color: red;
}
.ospann{
	position: absolute;
	margin-left: 55px;
	margin-top: 35px;
}
.box p:nth-child(3){
	text-align: center;
}
.box p:nth-child(3)>input{
	height: 45px;
	width: 360px;
	border: 1px solid #bbbbbb;
	margin-top: 15px;
}
.box p:nth-child(4){
	text-align: center;
	margin-top: 15px;
	font-size: 13px;
}
.box p:nth-child(5)>a{
	display: block;
	height: 45px;
	width: 360px;
	background-color: #03234C;
	text-align: center;
	line-height: 45px;
	color: #FFFFFF;
	margin-left: 70px;
	margin-top: 25px;
}
.box p:nth-child(6){
	text-align: center;
	margin-top: 40px;
}
.box p:nth-child(6)>a{
	color: #999999;
	font-size: 13px;
}
footer{
	height: 50px;
	width: 100%;
	background-color: #03234c;
	margin-top: 30px;
	position: fixed;
	bottom: 0px;
}
.bottom{
			margin-left: 39px;
				
			}
			.bottom>ul>li{
				float: left;
				margin-left: 25px;
				font-size: 13px;
				color: #ffffff;
				line-height: 50px;
			}
			.bottom>p{
				color: #ffffff;
				font-size: 13px;
				float: left;
				margin-left: 33px;
				line-height: 50px;
			}
			.bottom>p>img{
				height: 24px;
				width: 30px;
				margin-left: 15px;
			}
			.picter2{
				
			}
			.picter3{
				display: none;
				position: fixed;
				top: 69%;
				left: 430px;
			}
			.bottom>a{
				color: #ffffff;
				font-size: 13px;
				margin-left: 29px;
				line-height: 50px;
			}
			.bottom>h6{
				float: right;
				margin-right: 59px;
				color: #765d57;
				font-size: 12px;
				margin-top: 9px;
			}